<p>I plan to show some smattering of posts and tags here, along with links to:</p>
<ul> 
	<li>show all posts</li>
	<li>show all tags</li>
	<li>new posts,</li> 
	<li>new tags,</li>
	<li>view tags associated with with a single post, </li>
	<li>posts associated with a given tag, </li>
	<li>edit a specific tag or post</li>
	<li>maybe more!!</li>
</ul>