<h1>Make a new post here!!</h1>

  <form action="/posts" method="post">
  	<legend>Post Title</legend>
    <input type="text" title="post[title]">
    <legend>Post Description</legend>
    <input type="text" name="post[description]">
    <legend>Post Author</legend>
    <textarea name="post[author]"></textarea>
    <%= token_tag form_authenticity_token %>

    <button> Save Post </button>
  </form>